<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066367024787-5a9tkai21siucqob230o4erbd21h062b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066367024787-5a9tkai21siucqob230o4erbd21h062b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1066367024787-937q1a213mgf2uhrlorgvensbpqtnsni.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQadVY3PdEmc6r2x9drciNWUt0_YKyj-8</string>
	<key>GCM_SENDER_ID</key>
	<string>1066367024787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stage</string>
	<key>PROJECT_ID</key>
	<string>todolist-32b38</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-32b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066367024787:ios:7968dd374b6818d5959766</string>
</dict>
</plist>